@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  body{
    background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}

*{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.search{
    background: #DDD !important;
	font-size: 15px;
}
#wrap {
  margin: 50px 100px;
  display: inline-block;
  position: relative;
  height: 60px;
  float: right;
  padding: 0;
  position: relative;
}

.search input[type="text"] {
  height: 60px;
  font-size: 55px;
  display: inline-block;
  font-family: "Lato";
  font-weight: 100;
  border: none;
  outline: none;
  color: #555;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

.search input[type="text"]:focus:hover {
  border-bottom: 1px solid #BBB;
}

.search input[type="text"]:focus {
  width: 700px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}
.search input[type="submit"] {
  height: 67px;
  width: 63px;
  display: inline-block;
  color:red;
  float: right;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .4s ease;
}

.search input[type="submit"]:hover {
  opacity: 0.8;
}
  .products{
    animation: 5s ease-out 0s 1 slideInFromLeft;
  }
  .container .box{
    margin: 10px 0px;
  }
  .container .box:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  .container .box:first-of-type:before {
    content: "Featured";
    background-color: #ea723d;
    color: white;
    font-size: 13px;
    padding: 4px 10px;
    position: absolute;
    top: 14px;
    left: 15px;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .container .box:first-of-type:after {
    content: "";
    border-width: 14px;
    border-style: solid;
    border-color: transparent transparent transparent #ea723d;
    position: absolute;
    left: 82px;
    top: 14px;
    transform: translateY(-50%);
  }
  
  .container .box .top {
    position: relative;
    background-color: red;
  }
  
  .container .box .top:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(43, 187, 175, 0.829);
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.3s;
    opacity: 0;
  }
  
  .container .box .top:hover:before {
    opacity: 1;
  }
  .checked {
    color: orange;
  }
  .container .box .top:after {
    content: "Buy Now";
    color: white;
    font-size: 12px;
    padding: 10px;
    border: 1px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: 0.3s;
    opacity: 0;
  }
  
  .container .box .top:hover:after {
    opacity: 1;
  }
  
  .container .box .top img {
    width: 100%;
    margin-bottom: -4px;
  }
  
  .container .box .top span {
    position: absolute;
    right: 20px;
    bottom: 15px;
    color: white;
    font-size: 20px;
  }
  
  .container .box .top span i {
    margin-left: 5px;
  }
  
  .container .box .bottom {
    padding: 20px 15px;
    position: relative;
  }
  
  .container .box:not(:last-of-type) .bottom:before {
    content: "Hot";
    background-color: #ea723d;
    color: white;
    font-size: 11px;
    padding: 4px 7px;
    position: absolute;
    left: 20px;
    top: -40px;
    z-index: 1;
  }
  
  .container .box .bottom h3 {
    font-size: 15px;
  }
  
  .container .box .bottom > p {
    margin: 15px 0;
    font-size: 13px;
    line-height: 1.4;
    color: #777;
  }

  .container .box .bottom .price {
    margin-top: 20px;
  }
  
  .container .box .bottom .price span:first-of-type {
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .container .box .bottom .price span:last-of-type {
    color: #3eaba1;
    font-size: 22px;
  }
  
.product_heading{
    color: #13547a;
    font-size:2.3rem;
}


 /* customer review */
 h2 {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	position: relative;
	margin: 0 0 50px 0;
	text-transform: uppercase;
	display: inline-block;
}
h2::after {
	content: "";
	width: 50%;
	position: absolute;
	height: 4px;
	border-radius: 1px;
	background: #ff5555;
	left: 0;
	bottom: -20px;
}


.float-right{
  float: right;
}
  
 