    <section class="social_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1 class="about_heading">
                        A social enterprise. An authentic platform for pure craft.
                    </h1>
                </div>
                <div class="col-sm-6">
                    <p class="decription m-5">
                        The Hand's-to-heart is a digital platform for some of the world’s
                        oldest and most intricate craft forms. We started this social enterprise
                        close to 1 years ago in order to preserve, showcase and share the talent
                        of India’s artisans with the world. We hope to be able to raise the dignity
                        of the Indian artisan in our own way and kindle an interest and support for
                        an unsurpassed legacy of craft that spans millennia and spreads across the length
                        and breadth of the land. It is our effort to curate an undeniably unique selection of
                        traditional art and craft translated into a range of beautiful, contemporary products.

                    </p>
                </div>
            </div>
        </div>
    </section>


    <section class="established-section mt-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="established">
                        Established in 2020, Ranchi, India.
                    </h3>
                    <p class="established-desc">
                        We are headquartered in Ranchi, Jharkhand. 
                        Our objective has always been to empower our artisans to deliver sustainable 
                        products of the finest quality. We devote ourselves to these causes. Each of our
                         products are handcrafted and unique. 
                        Each product tells the unique story of the artisan who made it.
                    </p>
                </div>

                <div class="col-sm-6 p-2">
                  <img src="../../../assets/Images/side1.webp" max-width="1000px" width="100%"/>
                </div>
            </div>
        </div>
    </section>
    <section class="celebration-section">
        <div class="container p-2">
            <div class="row">
                <div class="col-sm-12 mt-2 p-3">
                    <h1>
                        Celebrating a heritage. Home to some of the world’s oldest craft forms.
                    </h1>
                    <p>With a legacy of craft that spans millennia and some 
                        of the forms dating as far back as to the era of the
                         Indus Valley civilisation, the fantastic world of India’s 
                         crafts people remains unsurpassed in its beauty and extent.
                          “Craftsmanship in India comes naturally to hundreds of thousands 
                          of its unlettered people who weave myths, legends and simple daily 
                          experiences into different forms of creativity that can change shape
                           from day to day, yet maintain their consistency for centuries to enrich
                           their lives. There are many different worlds contained within the geographical
                            boundaries of India. The world of its craftspeople, with their hand made goods
                             and textiles, spans millennia and spreads across the length and breadth of the land.
                              To hundreds and thousands of Indian artisans, 
                        fusion of utility and aesthetics comes naturally…”</p>
                </div>

                <div class="col-sm-12 p-2">
                    <img class="img-responsive " src="../../../assets/Images/center_bg.webp" alt="artificial" max-width="1000px" width="100%"/>
                </div>
            </div>
        </div>
    </section>

    <section class="two-section">
        <div class="container p-2">
            <div class="row">
                <div class="col-sm-6 p-5">
                 <img src="../../../assets/Images/man_left.webp" alt="" max-width="1000px" width="100%">
                </div>

                <div class="col-sm-6 p-2 decription_head">
                    <h3 class="heading_pomoting">Promoting fair trade.
                         <br>Supporting the artisan.</h3>

                   <p class="desc_promoting">
                    Ensuring fair prices that are mutually agreed with our artisans, 
                    while providing support with ideas and help to direct their immense 
                    talent in staying contemporary and relevant to a changing world. 
                    Our cost and price models are worked out equitably between us and 
                    our artisans. Our partners and associates work tirelessly to assist 
                    artisans in increasing their skills and improving their practices through 
                    assistance with production methods, working conditions, business practices
                    and product development. We endeavour to provide all our partners, artisans 
                    and craftsmen access to a larger marketplace and a fairer price for their products,
                     not just by promoting what they make, but also by helping them with ideas and designs 
                     to innovate and create relevant craft products that appeal to changing tastes and modern
                      preferences,
                     to help them find wider markets.
                   </p>
                </div>
            </div>
        </div>
    </section>

  <section class="partnership-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3 class="rewarding-head">Rewarding partnerships with a deserving force</h3>

                <p class="rewarding-desc">Over the years, we
                     have cultivated relationships with over 2000 artisans directly and through 
                     our associates. Our primary mission is to empower the Indian artisan and lift
                      up a community of people who are typically left behind. By choosing to directly
                       support artisans, craft-based organisations and social causes, we help create a
                       cycle of demand that nurtures hope, trust and long-term relationships. We work with
                        artisans, craft-centric organisations, NGO's self-help groups, social enterprises and 
                        enterprises deploying craftspeople. We also seek to promote
                     other charitable organisations engaged in socially impactful causes. </p>
            </div>
            <div class="col-sm-6">
                <img src="../../../assets/Images/right.webp" class="pl-5" max-width="1000px" width="100%"/>
            </div>
        </div>
    </div>
  </section>

  <section class="eco-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="../../../assets/Images/left.webp" class="img-responsive1" max-width="1000px" width="100%" />
            </div>
            <div class="col-sm-6 pl-3">
                <div class="heading_and_desc">
                    <h3 class="eco-heading">Supporting eco-friendly choices</h3>
                    <p class="eco-dec">Creating awareness for craft is inextricably 
                        linked with promoting ecological choices with a few exceptions.
                         The Indian crafts practitioner is perhaps the greatest conservationist
                          who strives to live in harmony with his environment. While, we do our
                           best to promote eco-friendly choices to the best extent possible,
                            there are a few exceptions where helping livelihoods may take 
                            precedence, simply due to our commitment to help every craft form
                             and every type of artisan from our hinterlands.</p>
                  </div>
            </div>
        </div>
    </div>
  </section>

  <section class="craft">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 my-5 py-3">
                <h3 class="craft-head">Craft conservation as a collective effort </h3>
                <p class="craft-dec">Helping Craft remain a sustainable, viable 
                    livelihood alternative for craftspeople and their next generations 
                    is a tremendous challenge facing the sector across the country.
                     A large variety of beautiful, rural craft does not make it to the
                      popular markets and stores, remaining limited to local town centric 
                      sales and periodic exhibitions in larger cities. A vast number of artisans
                       are still struggling with livelihoods. Perhaps the most important
                        objective we hope to achieve for these artisans, is in terms of being
                         able to reach new markets and create new age, contemporary products 
                         setting into motion a cycle of repeat orders and purchase. This in turn
                          would help in making craft a lucrative work option for the younger
                           generations of these artist villages. 
                </p>
                <img class="p-3" src="../../../assets/Images/handmaker.jpg" max-width="1000px" width="100%"/>
            </div>
        </div>
    </div>
  </section>

  <section class="ceo-section">
    <div class="container">
        <div class="row py-3 mt-5">
            <div class="col-sm-8">
                <h3 class="ceo-head">Driven by a belief. <br>Let’s choose to make the difference.</h3>
                <p class="ceo-decr"><i>We at The  Hand's-to-heart are people who bring diverse things 
                    together. Timelessness and modernity. Indigenous crafts and world trends. Artisans
                     and business. 
                    Incomes and fair trade. Freedom and protection. Love and commerce.</i></p>
                    <p class="ceo-decr"><i>It is ironic that the country with arguably the
                         richest craft heritage has among the most deprived craftsmen. It is to help make a 
                         dent in this reality that  Hand's-to-heart came into being, taking on the task of bringing the many 
                         contrasting realities of India’s 
                        handicraft universe to work together in the digital space.</i></p>
            </div>
            <div class="col-sm-4">
                <img src="../../../assets/Images/girl.webp" class="rounded-circle" alt="girl" width="300px">
                <p class="text-center">Riya Verma <br>Co-Founder</p>
            </div>
        </div>
    </div>
  </section>


  